@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Sidebar.cshtml")

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        @Html.Partial("~/Views/Shared/TopNavbar.cshtml")
    </div>
</div>

