@*Developed By:- Ranga Athapaththu
Developed On:- 2022/08/16*@

<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; BASD - SLIIT 2022</span>
        </div>
    </div>
</footer>
